<!DOCTYPE html>
<html>
<head>
	<h1>About</h1>
</head>
<body>

	<div id="readers">
		<!-- who we are  -->
		<h2> Who we are</h2>

		<p>We are dedicated to help and infrom you about adoption and talking about experience from other people and our own experience. 
			the company was started because we decided that more peopel should know about adopting and the situation that involves so many childeren from diffrerent age groups and their background . 

			Due to the high demand of more childeren going into foster care or adoption. </p>

			<!-- what we do -->
			<h2>What we do</h2>

			<p>We try and make people understand about adoption why would someone want to adopt from the public system or the private system. 
				To give enough information for people to understand the process of adopting and how much effort is put into selecing the right child and the background and the age groups people want to adopt from. </p>

			</div>

			<div id="partners">
				<!-- why it's important -->

				<h2> Why it's Important </h2>

				<p>Its important to give childeren a second chance for what ever reason they end up going up for adoption . to give a bette understnding about the situation the child has been through and why they are up for adoption. <p>

					<p>Every child deserves to have a happy home and given the chance to experience the feeling of a real family and to feel loved. 
						To give a woman option to have a child if its not possible for them to bare one. </p>

						<!-- why we do this  -->
						<h2>Why we do this</h2>

						<p>We want to make adoption a option for people who might not be able to have children or want to have more children. 
							We want to make people aware that if you want to expand the family you dont have to become pregnant that there is also a opportunity for adoption. </p>

						</div>
					</body>
					</html>