<!DOCTYPE html>
<html>
<head>
	<h1>Ages</h1>
</head>
<body>

<!--introduction -->
<h2>Introduction</h2>

<p> Children who have a plan for adoption will have been separated from their birth parents during their early childhood or sometimes when they are born. They will live with foster carers while social workers and the courts make plans for their future. We want to match these children with adoptive parents who can provide them with permanent, safe and loving homes.</p>

<p> We want to encourage people to adopt from all age groups and have a basic idea of the age range that people might be interested in.</p>


<div id="partners">
<!-- public vs private adoptions -->
<h2>Public and Private Adoption</h2>

<p>The numerous venues for adoption can be overwhelming for people just starting to consider adopting. Here's a breakdown of the range of options:</p>

<h3>Agency adoptions</h3>
<ul> 
<li>Through the local public agency</li>
<li>Through licensed private agencies (includes both domestic and international programs</li>
</ul>

<h3>Independent adoptions</h3>
<ul>
<li>Identified adoptions</li>
<li>Using attorneys or other intermediaries defined by state law</li>
<li>Using adoption facilitators (allowed in only a few states)</li>
</ul>

<h2>Using a private agency<h2>

<p>To obtain the names of local private agencies, look under "Adoption Agencies" or "Social Services" in the yellow pages. You can get a free copy of your state's agency listing from NAIC. (Visit the NAIC Web site at http://www.calib.com/naic to access the National Adoption Directory online.) Check with your state adoption specialist, the Better Business Bureau near the agency, and the state attorney general's office to see if other adoptive families have lodged any complaints. You can check with local adoptive parent support groups for their recommendations of reputable agencies.</p>

<p>Private agencies handle both domestic and international adoptions. You will need to decide which kind of child you want to join your family. Fees charged by private adoption agencies range from $5,000 to more than $30,000 for both domestic and international adoptions.</p>

<p>Ask any agency you might work with what its fees are and what the schedule is for paying them. You should also ask what services are and are not covered by the fees. Most will allow you to pay fees in installments due at particular points during the adoption process. If the fee policy is clear from the beginning, any misunderstandings about payment will be less likely.</p>


<h2>Using a public agency</h2>

<p>You can find an appropriate agency listed in your telephone book in the government section under a name such as "Department of Social Services" or "Department of Public Welfare." Each state organizes its agencies somewhat differently. They may be organized regionally or by county. To begin, call your county office and ask to speak to the adoption specialist. If the county office cannot help you, ask to be referred to the regional or state office.</p>

<p>In general, public agencies will accept adoption applications from families wanting to adopt older children, sibling groups, or children with special physical or psychological needs. Many of the children waiting for placement through public agencies are children of color. Adoption services through a public agency are usually free or available for a modest fee, since the services are funded through state and federal taxes. Federal or state subsidies are sometimes available to assist families adopting a child with special needs. Even if a child has no special needs, adoptive parents may only be asked to pay legal fees, which are often quite reasonable. In some cases, subsidies may even be available for the legal fees, too.</p>

<p>Children in the custody of a public agency were either abused, neglected, or abandoned by their birth parents. Abuse and neglect can leave physical and emotional scars. It's important to discuss all aspects of a child's history with the agency social workers and to discuss the availability of counseling or other services -- just in case they might be needed -- before deciding to adopt a child with a traumatic history.</p>

</div>

<div id="readers">
<!-- Age groups  -->
<h2>Age Groups of childeren</h2>

The children who are trying to find adoptive families are: 
<ul>
<li>Are aged 2 to 7 years or even older</li>
<li>Some need to be adopted with brothers and sisters</li>
<li>have some kind of medical condition or disability</li>
<li>have had a difficult start to life, including neglect or abuse</li>
<li>May sometimes have challenging behaviour</li>
<li>Will have had at least one move to a foster home and sometimes a number of moves</li>
<li>Children 0- 2 years old whose future development is uncertain</li>
<li>Children under 12 months who will need to be placed in an Early Permanency Placement. Please see route to adoption for information on Early Permanence</li>
</ul>

<!-- Age group for the people who are adopting -->

<h2>Age groups who can adopt</h2>

<p>All sorts of people can adopt. We welcome applications from people of all religions, races, genders and sexuality. Our adoptive parents reflect a wide range of circumstances and life experience, for example, you may be married, single, in a relationship, divorced, widowed, employed or unemployed</p>

<p> You need to be at least 21 years old to adopt. There is no upper age limit but we have to be realistic about health and wellbeing in the long term to provide a permanent and stable home for a child</p>
</div>

</body>
</html>