
<!--introduction -->
<h1>A Range of Ages</h1>

<p> Children who have a plan for adoption will have been separated from their birth parents during their early childhood or sometimes when they are born. They will live with foster carers while social workers and the courts make plans for their future. We want to see every one of those children matched with adoptive parents who can provide them with permanent, safe and loving homes.</p>

<p> We want to encourage people to adopt from all age groups and have a basic idea of the age range that people might be interested in.</p>

<div id="readers">
<!-- Age groups  -->
<h2>Age Groups Of childeren</h2>

About the children who are trying to find adoptive families: 
<ul>
<li>Many are aged 2 to 7 years or even older;</li>
<li>Some need to be adopted with brothers and sisters;</li>
<li>Some may have a medical condition or disability;</li>
<li>Many had a difficult start to life, having dealt with issues including neglect or abuse;</li>
<li>Some may sometimes have challenging behaviour;</li>
<li>Many will have had at least one move to a foster home and sometimes a number of moves;</li>
<li>Children 0- 2 years old are among those whose future development is most uncertain;</li>
<li>Children under 12 months will need to be placed in an Early Permanency Placement.</li>
</ul>
</div>
<!-- Age group for the people who are adopting -->
<div id="partners">
<h2>Age Groups Who Can Adopt</h2>

<p>All sorts of people can adopt. We encourage applications from people of all religions, races, genders and sexuality. Adoptive parents reflect a wide range of circumstances and life experience, for example, you may be married, single, in a relationship, divorced, widowed, employed or unemployed</p>

<p> You need to be at least 21 years old to adopt. There is no upper age limit but we have to be realistic about health and wellbeing in the long term to provide a permanent and stable home for a child.</p>
</div>