<h1>
	Hear From The Adoption Community
</h1>

<p>
	There is no better way to learn about adoption, the adoption process and the emotions connected with adoption, than to read testimonials from adoptive families who have lived it.
</p>
<p>
	The adoptive family testimonials below should give you insight and even help you understand what to expect from a domestic adoption. As you will read, there may be times of uncertainty and stress, but each story has a happy ending and a bundle of joy for new parents.
</p>
<div id="readers">
	<h2>
		A Lesson in Perseverance
	</h2>
	<img src="images/perserverance.jpg" id="testimony">
	<p>
		“I met my husband in high school, and that was 20 plus years ago,” Robin says. “We dated, broke up, got back together, married, had two biological children and then experienced secondary infertility and were not able to maintain a pregnancy.”
	</p>
	<p>
	And that’s where the adoption journey began for this former family of four—Robin, her husband Jake and their two children Alexis and Jalen, then 10 and 8.
	</p>
	<p>
	“I got pregnant with our third child while my oldest child was in the first grade and my second was in the pre-K,” Robin says. “They knew I was pregnant, and they knew we lost the baby and the baby went to heaven. So that was really, really hard for them.”
	</p>
	<p>
	Robin says that she and her husband did not at first tell the kids about their adoptions plans, but when they learned, “they were so excited about the whole thing,” she says.
	</p>
	<p>
	Jake’s job as a college basketball assistant coach led to several family moves and slowed the couple’s adoption plans. As soon as they’d begin a home study in one state, they’d have to start over in another state. But after the couple landed in Florida, the time was finally right. Robin says that after joining American Adoptions in late 2009, the adoption process became much smoother.
	</p>
	<p>	
	Although she admits that the APQ was “cumbersome and kind of annoying,” Robin also says it was a “good tool” and helped narrow things down. Like many couples, Robin wondered if adoption was really like a Lifetime movie, while her husband was concerned about having a relationship with their child’s birth parents. But they were ready to get rolling and became active in February 2010.
	</p>
	<p>
	Just days later, on February 25, 2010, Robin got the call about a match. The birth mother Jessica was due in six weeks. Suddenly, the couple had to get their money together, money they’d planned to save in the coming months. Luckily, Robin’s parents, who’d witnessed the sadness of the couple’s infertility, chipped in. A week later, Robin and Jessica had their first phone call and began emailing each other; they hit it off instantly.
	</p>
	<p>
	“Those six weeks were crazy, but it was so exciting because we were like, he’s coming, he’s coming,” Robin says.
	</p>
	<img src="images/perserverancea.jpg" id="testimony">
	<p>
	SubmitWhen the call came six weeks later, Robin dropped her children in Atlanta to stay with family and met her husband in Pennsylvania to officially meet Jessica and their son. Jake had been traveling for work but finished his trip early and made it in time for his son’s birth.
	</p>
	<p>
	Although Jessica had planned to have Robin in the delivery room with her, an unplanned C-section meant that Jessica could bring one family member, her own mother, with her. Robin waited outside the delivery room, but knew the moment her son Joshua was born, thanks to a hospital tradition: a lullaby played over the intercom to signify a birth.
	</p>
	<p>
	“When I heard that song, oh my god,” Robin says. “If I could bottle the feeling of that moment and sell it… I’ve never felt more excited in my entire life.”
	</p>
	<p>
	Robin was the first one to hold Joshua and carried him to the newborn nursery. She immediately called a sleeping Jake and told him to get to the hospital. He had just enough time to meet his son and say goodbye to Jessica before he had to leave on another business trip. That night, Jessica shared her hospital room with Robin, who was not permitted her own hospital room.
	</p>
	<p>
	“She was going to let me sleep in her room on the pull-out,” Robin says. “She had just had a C-section and was struggling to give up baby up, but she was worried about me. I remember, she was up one night getting me a blanket. She’s an amazing, sweet, sweet girl.”
	</p><br>
	…
	<br>
	<p>
	Over the next several days, Jessica and Robin spent time with Joshua in the hospital.
	</p>
	<p>
	“I would bring him to her room, and we’d sit there for hours. She would look at him, but she didn’t want to hold him,” she says.
	</p>
	<p>
	The day Joshua was released from the hospital, Robin went to her car for the car seat, and came back up to find Jessica holding Joshua.
	</p>
	<p>
	“My heart literally fell through the floor,” she says. “I’m like, did she change her mind?”
	</p>
	<p>
	A nurse in the ward had decided that Jessica should say goodbye to Joshua and handed her the infant. Jessica took him into her arms without thinking and ended up very happy that she did so. After signing paperwork with an adoption attorney, Jessica and Robin took photos together each holding him, and then strapped Joshua into his car seat and said their goodbyes.
	</p>
	<p>
	“I just boo-hoo cried. I couldn’t thank her enough,” Robin says. “And then she just boo-hoo cried. And then we just left. It was just like, I cannot believe this is happening. It was just a surreal moment.”
	</p>
	<p>
	But after their dramatic goodbye, Jessica called the very next day to tell Robin that she had gotten free baby formula and wanted to offer it to Robin.
	</p>
	<p>
	“So I literally took Joshua over to her house the next day,” Robin says. “And we hung out all day. So that was really cool, and I got to spend some extra time with her. She has three boys, so they were like, don’t go and can we see him again? And it wasn’t even so much that they were going to miss him. It was more like they were going to miss me, which is cute, you know. They just enjoyed spending time, and it was just amazing. I got a whole new family out of it.”
	</p>
	<br>
	…
	<br>
	<p>
	SubmitNow, Robin says that her family stays in touch with Jessica’s through pictures and letters and special text messages on the 22nd of every month. “Twenty-two is my lucky number,” Robin says. “And her birthday is on the 22nd. So we decided that on the 22nd of the month, I’ll send a picture. So that we know it’s definitely going to be 12 times a year.”
	</p>
	<p>
	They also contact each other spontaneously at other times of the month or if there is something special to share. Robin has also brought Joshua back to visit Jessica and his older brothers in Pennsylvania. She was unsure if Jessica would be interested but decided to call her and was relieved to hear she was open to a visit.
	</p>
	<p>
	“So while my other kids and their cousins went to Hershey Park all day, I actually took Joshua back to see Jessica and the boys,” Robin says. “They were so excited to see him and took a ton of pictures. I don’t know how often we’ll get back to Pennsylvania, but whenever we’re in the state, I’ll make sure to get back to see her.”
	</p>
	<p>
	<img src="images/perserveranceb.jpg" id="testimony">
	<p>
	The couple has enjoyed getting to see Joshua, now two, and his personality develop. “It’s all about music,” Robin says. “He takes a Mommy and Me Music Class. And it’s all about basketball. He loves basketball. He’s all boy.”
	</p>
	<p>
	Jake told Robin just the other day, “I could not imagine life without this boy. He is such a blessing to our family.”
	</p>
	<p>
	Robin, who once worried that she’d feel different toward an adopted child, says, “I forget that he’s adopted. I swear I do. Someone asked me, what if you don’t love him the same or what if it feels different? And honestly, I didn’t know, but I was trusting. I swear, though, I forget that I didn’t actually push him out.”
	</p>
	<p>
	Looking back, Robin is especially grateful for the life lessons she learned from infertility and adoption and shares her story at every opportunity.
	</p>
	<p>
	“It’s taught me that if one thing in your life doesn’t work out, don’t give up,” Robin says. “I really thought I would be able to have my babies biologically and everything would go as planned. But it’s just an amazing lesson to even teach my kids that everything is not going to work out. You’re going to have some challenges in life and things aren’t fair at the time. But just hold on… it’s like my testimonial to people.”
	</p>
	<p>
	Since Alexis and Jalen, 13 and 11 now, are a bit older, Robin says she often has friends say that Joshua needs a playmate. But although she says, “never say more,” Jake and Robin don’t plan to adopt again.
	</p>
	<p>
	“I don’t know if I could because I don’t think it could ever be this good,” she says. “It was just so good. Once I met Jessica, it was just, I can’t imagine it ever being this good.”
	</p>
	<p></p>	
	*Joshua’s birth mother’s name has been changed to protect her privacy.
	</p>
</div>
<div id="partners">
	<h2>
		Worth the Wait - Andy, Alicia and Levi's Adoption Story
	</h2>
	<img src="images/wait.jpg" id="testimony">
	<p>
		In April 2014 we decided to shift our focus from fertility treatments to adoption. This transition was easy for us because we had considered adoption before we started trying to have a family on our own. When we found American Adoptions something about it just felt right for us, so we began the process of becoming an adoptive family. July 2014 our profile went “active” and our anticipation went through the roof! We were so excited to get “the call” that every time the phone rang for the first few weeks I instantly got butterflies thinking this could be it. As weeks passed I started to settle in and life got back to normal.
	</p>
	<p>
		The hustle of summer faded and we started to accept that things may take a while to happen. October 30th was a Thursday and normally we would have both been gone at work, however, that day we spent with family after the loss of Andy’s Grandpa. We arrived home from the funeral around 2 in the afternoon and I noticed the answering machine was blinking. I said to Andy looks like another telemarketer had something to say! We were both standing in the kitchen as I hit play on the machine, instantly we both knew this was it. The lady introduced herself as Lara from American Adoptions. She said she was from the Arkansas office and was working with a birth mom from Arkansas that had selected us as the adoptive family for her baby and we should call her back when we could.
	</p>
	<p>
		We listened to that message two more times jumping around the kitchen and crying before we got it together enough to call Lara back. As luck would have it Lara was in a meeting when we called back and the secretary told us she would call us in about an hour. Imagine the anxiety! We knew nothing. Was the baby born? If not, when was the due date? Where in Arkansas would we need to travel? Is it a boy, is it a girl and so on and so on… About an hour passed and our phone rang, it was Lara. She told us we had been selected by a birth mom who was due in April. After writing down all the details we hung up and again were in tears. We were going to be parents. Our dreams had come true.
	</p>
	<p>
		After a few weeks we got in touch with our birth mom and immediately hit it off with her. We exchanged e-mails, phone calls and texts messages through the rest of her pregnancy. She did not want to find out the gender of the baby, and even though the thought of traveling to Arkansas from Minnesota with no gender specific baby apparel was daunting, we were so happy that we didn’t care. However, our little man had other plans. At an ultra sound he made it clear to his birth mom that he was a boy, so she decided to share that with us.  Andy was over the moon at the thought of a son and I was just as excited about a boy as I would have been a girl.
	</p>
	<p>
		With the big day coming we traveled to Arkansas. Our birth mom let us be in the room when our son was born and even asked Andy to cut the cord. We were overjoyed and could not have had a better experience. The two weeks after he was born was amazing with just the 3 of us in Arkansas. We visited with our birth parents two times in those two weeks and soaked up our time with them so we would have stories to tell our little man when he grows up. Lara & Kathie the social workers from American Adoptions took care of everything. We did not lift a finger which was awesome and left us with lots of time to bond with our son.
	</p>
	<p>
		Now that our little man is 4 months old looking back we are so thankful for everything everyone at American Adoptions did to make our adoption process go so smooth. If you are reading this and are “waiting,” know that it will happen! Have faith and when you least expect it, your dreams with come true with that one magical phone call.   
	</p>
	<p>
		- Alicia
	</p>
	</div>
	<div id="partners">
	<img src="images/miltons.jpg" id="testimony">
	<p>
		Hi, our names are Milton, Sarah and Erin and we first want to say how blessed we feel by having Erin in our lives.
	</p>
	<p>
		Milton and I set out to have a family of our own, (Milton has three children from a previous marriage) and when that didn’t happen we turned to the medical field for help. It seems I am not able to become pregnant. After several IVF treatments and a surgery I could not go on being heartbroken month after month and Milton did not like seeing me go through the pain anymore. We turned to adoption, which was something we discussed when we talked about having a family. We thought about the public system but came up against resistance, it seems our local FIA had been going having some personnel problems and were not well equipped to help us with what we were looking for. We both believe in God deeply and know that there is a plan bigger than us so we were taken aback by what to do next but kept plugging away. We finally found an agency to do our home study and while we were talking with our social worker she suggested we check the Internet for a reliable adoption agency. That’s when we found American Adoptions.
	</p>
	<p>		 
		We called to put our name in and get an application to become active members. It all happened very fast from that point. We were alerted to a situation but our paperwork from our home study had not been sent in yet, it was completed but was in the process of being sent to American Adoptions. We were pretty upset but realized that once again God’s plan was preparing us for our baby. Once our paperwork had been received our profile was being shown to birth mothers. Since Milton and I are of two different races we were open to a bi/multi racial child. It was only a couple of days after that when Megan Riley called us. She told me about Teka. Megan wanted us to know about Teka’s ethnicity, which is African American/Caucasian/Asian/Native American. I became very excited and told her yes. She warned that I needed to discuss this with Milton and I told her I already knew his answer. While I called Milton, Megan was making a call to Teka. After each of our respective phone calls Megan called me back. She told me that once Teka found out how excited we were she too became excited; she had been guarded due to some previous situations that did not work out. After that we set up phone calls and discussed different things. She told me about her two children and sent pictures so we could put a face with her voice.
	</p>
	<p>		 
		It was getting close to due date time but no baby yet. Teka was growing increasingly uncomfortable and was ready to deliver. Her doctor had told her if she had not delivered by the Monday after Easter he would induce her. I packed my bags in anticipation of the impending trip. I’m certainly glad I did because at 3:00 am Wednesday, April 16, 2003 we got the call we had been waiting to receive. I’ll never forget that plane ride; since I was awaken in the middle of the night I would alternate between laughing, crying, and sleeping. Teka had wanted me to be there for the delivery but by the time I boarded the plane she had delivered a beautiful 7lb 15.9oz baby girl. We named her Erin Page. I’d wished I could have been there for the delivery but in retrospect Milton and I have the rest of our lives with Erin and we think it was important that Teka got to spend the first couple of hours with her. Milton was unable to attend due to an emergency at his job. He’s sad that he missed those first two weeks (we waited for the ICPC to clear) but being a father already he knew how important that initial time alone with a baby can be for a new mom.
	</p>
	<p>		 
		We got to have lunch with Teka and her family before taking off. We took some more pictures and shared tears and hugs one last time. I promised Teka I would tell Erin just how strong of a person she is.
	</p>
	<p>		 
		Erin is two years old now and a ball of energy. She’s very spunky and bright. She is as beautiful on the inside as she is on the outside. We keep a picture of Teka and the kids along with other family members that Erin doesn’t get to see often. When we parted Teka told me we were family now and she is right. Erin will always be the tie that binds. It would take the rest of our lives if we had to count our blessings from Teka and American Adoptions. We are very fortunate and very happy. We are more fulfilled than we ever expected. If someone had told me this is how my family would be formed I would not have believed them, though I’m glad it is.
	</p>
	<p>		 
		Milton, Sarah and Erin
	</p>

</div>