<!-- #contact form  -->

<form method="POST" action="/contactus">  
	<label for="username">Username</label>   
	<input type="text" name="username">   
	<label for="password">Password</label>  
	<input type="password" name="password"> 
	<input type="submit"> 
	</form>

	
<!--email form  -->

<form action="/mail" method="POST">
	Name:<br>
	<input type="text" name="name"><br>
	E-mail:<br>
	<input type="text" name="mail"><br>
	Comment:<br>
	<input type="text" name="messagebody" size="50"><br><br>
	<input type="submit" value="send"> 
</form>