<!DOCTYPE html>
<html>
<head>
	<h1>Contact Us</h1>
</head>
<body>
<center>
	<h3> If you have any more questions please feel free to email us for more information. Just complete the form below.</h3>
	<!-- #contact form  -->
<!-- 	<h2> contact form</h2>

	<form method="POST" action="/contactus">  
		<label for="username">Username</label>   
		<input type="text" name="username">   
		<label for="password">Password</label>  
		<input type="password" name="password"> 
		<input type="submit"> 
	</form>
	<br> -->
	<!--email form  -->
<!-- 	<h2> email </h2> -->

	<form action="/mail" method="POST">
		<p class="box">
			Name:
		</p>
		<input type="text" name="name" size="50" class="box"><br>
		<p class="box">
			E-mail:
		</p>
		<input type="text" name="mail" size="50" class="box"><br>
		<p class="box">
			Comment:
		</p>
		<textarea type="text" name="messagebody" class="box" id="textbox">Please share your thoughts here.</textarea><br>
		<button class="box">Send</button>
	</form>
</center>
</body>
</html>