<!DOCTYPE html>
	<html>
	<head>
		<h1>Double Nationality </h1>
	</head>
	<body>

		<div id="readers">

			<!--introduction -->
			<h2> introduction</h2>
			<p>Here you will find information about dual citzenship. What it means and what countries lets you have a dual citzenship and the process for it. 
			</p>

			<!--What is double citzenship -->
			<h2> What is double citzenship</h2>

			<p>A dual nationality or dual citzenship means that a person is a citizen of two different countries. The most common routes to a dual citzenship is when your born or marriage . For example , if you were born in the united states , you automatically become a citzen in that country . But if your parents are national citzens in mexico , you will get a mexican citzen ship aswell. </p>

			<p>This could also work if you were adopted from one country and the people who adopt you are from a other country you could have a double citzenship. </p>

			<p>It may not always be the case as some countries make you choose which nationality you want to be . you may only keep one passport . If you were adopted and say you were bulgarian but your parents were american , you will automaticly become a american citzen. </p>
		</div>

		<div id="partners">

			<!--informaiton -->
			<h2>where Dual Citzenship is allowed and not </h2>

			Dual Citizenships Allowed:

			<p>Australia, Barbados, Belgium, Bangladesh, Canada, Cyprus, United States, United Kingdom, Switzerland, South Korea, South Africa (requires permission) , Egypt(requires prior permission), Greece, France, Finland, Germany (requires prior permission), Iraq, Italy, Israel, Ireland, Hungary, Iceland, Sweden, Slovenia, Syria, Serbia, Armenia, Lebanon, Malta, Spain ( allows only with certain Latin american countries), Tonga, Phillipines, Romania, Sierra Leone, Sri Lanka (by retention), Pakistan (accepts only with 16 countries), Portual, Turkey (requires permission)
			</p>

			Dual Citizenships Not Allowed:

			<p>Andorra, Austria, Azerbaijan ,Burma, Bahrain, Botswana, Japan, China ,Czech Republic, Denmark, Fiji,India,Indonesia, Ecuador, Estonia, Iran, Poland, Papua New Guinea, Brunei, Japan, Peru, Kuwait , Kenya, Kazakhstan, Chile, Kiribati, Poland, Korea, Kuwait, Denmark, Latvia, Singapore, Slovakia, Ecuador, Lithuania, Solomon Islands ,Fiji ,Malaysia, Mauritius, Netherlands, United Arab Emirates (UAE), Thailand, Mexico, Nepal, Venezuela, Norway, Zimbabwe, Mauritius, Myanmar, Nepal </p>


			<!--japanese process for a dual citzenship -->
			<h2> Japanese process for a dual citzenship </h2>

			<p>In japan its not known to have a dual citzenship , however there expections made to certain groups of people to keep their japanese identity . 
				If your adopted from japan as a young age , you need to have a japanese passport if the family should decided to leave the country but even then its not that easy . The child is aloud to have a japanese passport and a other nationlaity untill the age of 24 . </p>

				<p>There are special cases that the child is able to keep both nationalities and wont have to choose if they want to be japanese and a other nationality. </p>

			</div>
		</body>
		</html>
