

<div class = "imagebox">
	<div class="sliderwrapper">
		<ul id="slider">
			<li class="slidepic">
				<img src="images/booboos.jpeg">
			</li>
			<li class="slidepic">
				<img src="images/brownbaby.png">
			</li>
			<li class="slidepic">
				<img src="images/children.jpg">
			</li>
			<li class="slidepic">
				<img src="images/tattoo.jpg">
			</li>
		</ul>
	</div>
</div>

<h1>	
Every Child A Family
</h1>

<div id="readers">
	<h2>
		You Are The Difference
	</h2>
	<p>
		You are significnat in changing the world - one child at a time.
	</p>
	<p>
		“Without my son, I wouldn’t be where I am. I probably wouldn’t even be here today if it wasn’t for adoption.”  - Ted, adoptive father
	</p>
	<p>
		A countless number of people feel exactly the same as Ted: that life is meaningless without the gift of becoming a parent.
	</p>
	<p>
		For that reason, thousands of people every year choose to adopt. And like Ted, without adoption, many of these peoples’ lives would remain unfulfilled.
	</p>
	<p>
		Before considering adopting a child, many couples attempt infertility treatments, such as in vitro fertilization (IVF). Some find success, but many do not. In fact, according to the American Pregnancy Association, only 30 to 35 percent of women under 35 years old will become pregnant though IVF. As women get older, their chances of success decrease dramatically.
	</p>
	<p>
		Many couples whose first attempts are unsuccessful try again and again. With each failed attempt, more money is lost, and sometimes the woman suffers mental and physical effects from the treatments. They may reach a point where they just can’t do it anymore, financially, physically and emotionally.
	</p>
	<p>
		Eventually, many couples decide that their dreams are to become parents, not pregnant. They realize that raising a child together is what’s important, and whether that is through pregnancy or adoption doesn’t matter.
	</p>
	<p>
		So, why adopt a child?
	</p>
	<p>
		Because life offers so many memorable moments, sometimes it is hard to realize how special they are without a child there to remind us. The joy a father sees in his son’s eyes when he attends his first baseball game, or the excitement a mom sees on her daughter’s face the first time she sees the top of a cloud from an airplane window – these are moments made special because of the presence of a child.
	</p>
	<p>
		Adoption has given and continues to give people like Ted the opportunity to lead fulfilling, meaningful lives alongside their children, and in turn, provides children opportunities in life once thought unachievable.
	</p>
</div>
<div id="partners">
	<h2>
		Partners
	</h2>
	<p>
		There are many organizations that support the community building and family restoration processes of adoption. We eagerly partner with such organizations, collaborating in any way we can to ensure that our goal is met to ensure that every child is part of a loving family. See the links to our partners below to find the guidance, support, information, and happiness you seek.

		<ul>
			<li>
				<a href="http://www.jiom.org/adoption.html">Jamii International Outreach Ministries</a> offers support in adopting vulnerable children in Kenya.
			</li>
			<li>
				<a href="http://www.internationalchild.org/index.html">International Child Campaign</a> campaigns for children's rights, welfare and education worldwhilde.
			</li>
			<li>
				<a href="https://www.childwelfare.gov/nfcad/">Child Welfare Information Gateway</a> offers adoption and foster care resources by State in the United States.
			</li>
			<li>
				<a href="https://davethomasfoundation.org/">Dave Thomas Foundation for Adoption</a> works to match every one of the 100,000 children waiting in foster care to their forever families.
			</li>
			<li>
				<a href="http://www.childrenshopeint.org/">Children's HOpe International</a> is an internation adoption program with programs for adopting children in Columbia, Ethiopia, Bulgaria, China and Vietnam.
			</li>
			<li>
				<a href="https://www.kidsfirstadoption.com">KidsFirst</a> operates adoption programs in Blugaria, Ukraine, and the United States.
			</li>
		</ul>
	</p>
</div>