<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>
		<%= @title %>
	</title>
</head>
<body>
<script type="text/javascript" src="/script.js"></script>

<div class = "imagebox">
	<div class="sliderwrapper">
		<ul id="slider">
			<li class="slidepic">
				<img src="images/booboos.jpeg">
			</li>
			<li class="slidepic">
				<img src="images/brownbaby.png">
			</li>
			<li class="slidepic">
				<img src="images/children.jpg">
			</li>
			<li class="slidepic">
				<img src="images/tattoo.jpg">
			</li>
		</ul>
	</div>
</div>
	<%= yield %>
</body>
</html>