<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>
		<%= @title %>
	</title>
</head>
<body>
<script type="text/javascript" src="/script.js"></script>

<nav id="menu">
	<ul>
		<li>
			<a href="/" class="menu">Home</a> | 
		</li>
		<li>
			<a href="real" class="menu">The Real Deal</a> |
			<ul>
				<li>
					<a href="doublenationality" class="menu">Double Nationality</a> |
				</li>
				<li>
					<a href="ages" class="menu">All Ages</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="community" class="menu">The Community</a> |
		</li>
		<li>
			<a href="about" class="menu">About Us</a> |
		</li>
		<li>
			<a href="contactus" class="menu">Contact Us</a>
		</li>
	</ul>
</nav>
<img src="images/Adoption-heart.jpg" id="bg">

	<%= yield %>

</body>
</html>