<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>
		<%= @title %>
	</title>
</head>
<body>
<script type="text/javascript" src="/script.js"></script>

<nav id="menu">
	<a href="/" class="menu">Home</a> | 
	<a href="real" class="menu">The Real Deal</a> |
		<a href="doublenationality" class="menu">Double Nationality</a>
		<a href="ages" class="menu">All Ages</a> |
	<a href="community" class="menu">The Community</a> |
	<a href="about" class="menu">About Us</a> |
	<a href="contact" class="menu">Contact Us</a> |
	<a href="donate" class="menu">Donate</a>
</nav>

	<%= yield %>

</body>
</html>