<form action="/mail" method="POST">
	Name:<br>
	<input type="text" name="name"><br>
	E-mail:<br>
	<input type="text" name="mail"><br>
	Comment:<br>
	<input type="text" name="messagebody" size="50"><br><br>
	<input type="submit" value="send"> 
</form>
